.content-searches{
    display: flex;
    flex: 0.7;
    align-items: center;
    border: 2px solid var(--white);
    height: 60%;
    border-radius: 10px;
    min-width: 300px;
    box-sizing: border-box;
    transition: border-color 0.3s;
}

.search{
    flex: 1;
    height: 60%;
    background: transparent;
    border: none;
    margin-left: 5px;
    font-size: 15px;
    color: var(--white);
}

.search:focus{
    outline: none;
}

.input-active{
    border-color: var(--apple-green);
}

.content-icon{
    width: 20px;
    margin-right: 5px;
    cursor: pointer;
}

.content-icon i{
    height: 20px;
    display: flex;
    color: var(--apple-green);
    justify-content: center;
    align-items: center;
}

@media (max-width: 600px ){
    .content-searches{
        display: none;
    }
}