.section-header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--dark);
    width: 100%;
    height: 50px;
    box-sizing: border-box;
}

.custom-width  {
  min-width: 100px!important; /* Ajusta según el contenido */
}

.btn-users{
    width: 87px!important;
}
.shopping{
    width: 40px!important;
}

@media (max-width: 600px ){
    .content-searches{
        display: none;
    }

    .section-header{
        justify-content: space-between;
    }
}