.section-products{
    background: linear-gradient(135deg, var(--dark-green), var(--light-green), var(--green-apple))!important;
    height: auto!important;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto;
    scrollbar-width: none;
}

.content-card{
    width: 100%;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(150px, 250px));
    gap: 20px;
}

 

