.section-products{
    background-color: blueviolet;
    height: 100%;
    padding: 20px;
    flex-grow: 1;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content-card{
    width: 100%;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(150px, 250px));
    gap: 20px;
}

 

