.section-orders{

height: 100%;
display: flex;
justify-content: center;
align-items: center;
padding: 10px;
}

.content-orders{
    width: 60%;
    display: flex;
    flex-direction: column;
}

.form-orders{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-orders div{
    display:flex;
    justify-content: center;
    gap: 10px;
}