.section-slider {
  height: 100%;
  position: relative;
  overflow: hidden;
  padding: 2px;
}

.scroll-content {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(5, minmax(32.7%, 1fr)); /* 5 columnas */
  gap: 10px;
  animation: scroll 30s linear infinite;
}

.card {
  background-color: rgb(55, 160, 196);
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}

.section-link{
  display: none;
}

@keyframes scroll {
  0% {
    transform: translateX(2%);
  }

  50% {
    transform: translateX(-68%);
  }

  100% {
    transform: translateX(2%);
  }
}

@media (max-width: 600px) {
  
  .scroll-content {
    animation: none;
    grid-template-columns: repeat(10, minmax(100%, 1fr));
    overflow-x: scroll;
    touch-action: pan-x;
  }

  .card {
    height: 300px;
  }

  .section-title a{
    display: none;
  }

  .section-link{
    display: block;
  }

  .section-link a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    margin: 0 10px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    height: 30px;
    border-top: 1px solid var(--dark);
  }

}
  
  

