:root {
    --dark: #292b2f;
    --white:#d7d5d9;
    --dark-green: #018185;
    --light-green:#3bbfc3;
    --apple-green:#40ad93;

    --dark-blue: #205072;
    --green-blue: #329D9C;
    --green: #56c596;
    --green-apple: #7BE495;
    --green-lima: #CFF4D2;  
}