.section-slider-fashion {
  height: 100%;
  position: relative;
  overflow: hidden;
  padding: 2px;
}

.scroll-content-fashion {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(5, minmax(32.7%, 1fr)); /* 5 columnas */
  gap: 10px;
  animation: scrollFashion 30s linear infinite;
}

.card-fashion {
  background-color: rgb(55, 160, 196);
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}

@keyframes scrollFashion {
  0% {
    transform: translateX(2%);
  }

  50% {
    transform: translateX(-68%);
  }

  100% {
    transform: translateX(2%);
  }
}

@media (max-width: 600px) {
  .scroll-content-fashion {
    animation: none;
    grid-template-columns: repeat(10, minmax(100%, 1fr));
    overflow-x: scroll;
    touch-action: pan-x;
  }

  .card-fashion{
    height: 300px;
  }
}
