.section-footer{
    background-color:var(--dark);
}

.section-footer, .content-footer-link{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.content-footer-link{
    gap: 15px;
    list-style: none;
}

.content-footer-link li a {
    text-decoration: none;
    color: var(--white);
}