.carrusel {
  display: flex;
  align-items: center; 
  height: 330px;
  width:100%;
  overflow: hidden;
}

.carrusel-imagenes {
  display: flex;
  width: 100%;
  transition: transform 0.5s ease-in-out; 
}

.carrusel-imagen {
    width: 100%;  
    height: auto;
    display: block;
}

.carrusel-boton {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 24px;
  position: absolute;
  border-radius: 10px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.carrusel-boton.prev {
  left: 10px;
}

.carrusel-boton.next {
  right: 10px;
}
 

@media (max-width: 600px){
  .carrusel{
    margin-top: 60px;
  }  
  
  .carrusel-boton.prev, .carrusel-boton.next{
        display: none;
    }
}