.section-header1{
    position: relative;
    height: 90px;
    width: 100%;
}

.section-div{
    position: absolute;
    height: 90px;
    width: 100%;
    background-color: aqua;
}

.header{
    height: 100%;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box; 
    z-index: 1004;  
}



@media(max-width:600px){
     
}