

.header{
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box; 
    z-index: 900; 
}

.section-header1{
    height: 100px;
      
}

@media(max-width:600px){
    .section-header1{
        height: 60px;
    }
}