.products {
  height: 100% !important;
  width: 100%;
  display: flex;
  flex-direction: column;
} 

.conten-btn-filter {
  box-sizing: border-box;
  display: none;
  justify-content: start;
  background-color: var(--dark);
}

.content-products {
  height: 100%;
  box-sizing: border-box;
  
  display: flex;
  
}

@media (max-width: 1379px) {
    
}

@media (max-width: 600px) {
  .conten-btn-filter {
    display: flex;
  }

  .contentFilters{
    box-sizing: border-box!important;
  }

  .content-products {
    margin-top: 0px !important;
  }

  .content-none {
    display: none;
  }
}

