.section-container {
  width: 100%;
  flex-grow: 1;
  height: 100%;
  background-color: #2d3436 !important;
  color: rgb(223, 206, 206)!important;
}

.section-product-info {
    background: linear-gradient(135deg, var(--dark-green), var(--light-green), var(--green-apple))!important;
  height: 100%;
  
}

.title-color{
    color: var(--dark-green)!important;
}

.product-info-img-main {
  width: 100% !important; /* Se ajustará automáticamente dentro de los límites */
  max-width: 600px !important; /* Máximo de 600px */
  min-width: 200px !important; /* Mínimo de 300px */
  max-height: 400px !important; /* Máxima altura opcional */
  min-height: 250px !important; /* Mínima altura opcional */
  object-fit: cover !important; /* Mantiene las proporciones y recorta si es necesario */
  border-radius: 8px !important; /* Opcional: esquinas redondeadas */
}

.content-img-product{
    background-color:rgba(91, 190, 91, 0.048)!important ;
}

@media (max-width: 600px){
    .section-container{
        margin-top: 40px;
    }
}