html,
body {
  height: 100%;
}

body {
  margin: 0;
  box-sizing: border-box;
  display: inline;
  place-items: center;
  min-width: 100vw;
  min-height: 100vh;
}

#root {
  display: flex;
  height: 100vh;
  flex-direction: column;
  text-align: center;
}
